.login_form {
    height: 55vh;
    border-radius: 5px;
    margin-bottom: 0.3em;
}
  
.login-btn {
    margin-top: 1em;
    background-color: #purple;
    color: #fff;
}

.forgot_password_link {
    color: #200c7e;
    font-weight: bold;
    font-size: 0.7em;
    letter-spacing: 1px;
}
