.login_form {
    height: 55vh;
    border-radius: 5px;
    margin-bottom: 0.3em;
}
  
.login-btn {
    margin-top: 1em;
    /* background-color: #purple; */
    color: #fff;
}

.forgot_password_link {
    color: #200c7e;
    font-weight: bold;
    font-size: 0.7em;
    letter-spacing: 1px;
}

.status-message-container {
    text-align: center;
}

.status-message-fail {
    color: #d30000;
}

.status-message-success {
    color: #008200;
}

.first-sign-up {
    margin: 10em auto 0;
    text-align: center;
}