* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #eae5e5;
  font-family: sans-serif;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  background-color: #fff;
  width: 450px;
  height: 80vh;
  border-radius: 10px;
  padding: 2em 3em;
  margin: 3em 0;
}

h2 {
  margin-bottom: 0.3em;
}

p {
  font-size: 0.7em;
} 

.input_container {
  border: 1px solid #858586;
  margin: 1em 0 0 0;
  border-radius: 5px;
  padding: .2em .7em;
}

.input_check {
  width: 20px;
  display: inline;
  margin-right: 0.5em;
}

input {
  display: block;
  border: none;
  outline: none;
  width: 100%;
  padding-top: .5em;
  font-weight: bold;
  font-size: 0.9em;
  opacity: .9;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

button {
  color: white;
  background-color: #3013b1;
  border: none;
  cursor: pointer;
  width: 100%;
  padding: 1em;
  border-radius: 3px;
}

label {
  font-size: 0.55em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
  text-decoration: none;
  font-size: 1em;
  padding-left: .5em;
  color: #2a1295;
}

.check_container {
  display: flex;
  align-items: center;
  margin: 1em 0;
}
